<%- include('../adminLayout/header') %>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Banner</h2>
                        <div>
                            <form method="post" action="/admin/addBanner" enctype="multipart/form-data"
                                onsubmit="return validateForm()">
                                <button type="submit"
                                    class="btn btn-md rounded font-sm hover-up">Publish</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Banner title</label>
                                <input type="text" placeholder="Type here" name="title" class="form-control"
                                    id="title">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" name="description" class="form-control"
                                    rows="4" id="description"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">url</label>
                                <input type="text" placeholder="Type here" name="link" class="form-control"
                                    id="link">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" name="files" type="file" accept="image/*">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    </form>
                </div>
            </div>
        </section> <!-- content-main end// -->
<%- include('../adminLayout/footer') %>