<%- include('../adminLayout/header') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Add Coupon </h2>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div>
                            <% if (typeof message !=='undefined' ) { %>
                                <span class="text-center text-danger">
                                    <%= message %>
                                </span>
                                <% } %>
                        </div>
                        <form action="/admin/addCoupon" method="post" onsubmit="return validate()">
                            <div class="mb-8">
                                <label for="product_name" class="form-label">Code</label>
                                <input type="text" class="form-control" id="coupon_code" name="code"
                                    oninput="this.value = this.value.toUpperCase ()" />
                                <a href="" id="couponCodeError"></a>
                            </div>
                            <div class="mb-8">
                                <label class="form-label">Discout Percentage</label>
                                <input type="text" class="form-control" id="Discout_percentage" name="discount">
                                <a href="" id="discoutError"></a>
                            </div>
                            <div class="mb-8">
                                <label class="form-label">Minimum Amount</label>
                                <input type="number" class="form-control" name="minAmt" id="minimumAmount">
                                <a href="" id="minimumAmountError"></a>
                            </div>
                            <div class="mb-8">
                                <label class="form-label">Maximum Discount Amount</label>
                                <input type="number" class="form-control" name="maxDiscAmt" id="maximumDiscountAmount">
                                <a href="" id="MaximumAmountError"></a>
                            </div>
                            <div class="mb-8">
                                <label class="form-label">Expiry Date</label>
                                <input type="date" class="form-control" id="expiryDate" name="expiryDate"
                                    placeholder="YYYY-MM-DD">
                                <small id="expiryDateError" style="color: red; display: none;">Please enter a valid date
                                    in YYYY-MM-DD format.</small>
                            </div>
                            <div class="mb-8">
                                <br>
                                <label class="form-label">List</label>
                                <input type="radio" name="list" value="true" checked>
                                <label class="form-label">UnList</label>
                                <input type="radio" name="list" value="false">
                                <br>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary">Create Coupon</button>
                            </div>
                        </form>
                    </div>
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->
    <script>
        function validate() {
            // Get the input values
            let code = document.getElementById("coupon_code").value;
            let discount = document.getElementById("Discout_percentage").value;
            let minAmt = document.getElementById("minimumAmount").value;
            let maxDiscAmt = document.getElementById("maximumDiscountAmount").value;
            let list = document.querySelector("input[name='list']:checked").value;

            // Create variables for error messages and validation status
            let codeError = document.getElementById("couponCodeError");
            let discountError = document.getElementById("discoutError");
            let minAmtError = document.getElementById("minimumAmountError");
            let maxDiscAmtError = document.getElementById("MaximumAmountError");
            let isValid = true;

            let codeRegex = /^[A-Z0-9]+$/;
            if (code === "") {

                codeError.innerHTML = "Please enter a code.";
                codeError.style.color = "red";
                isValid = false;
            } else if (!codeRegex.test(code)) {

                codeError.innerHTML = "Please enter a valid code.";
                codeError.style.color = "red";
                isValid = false;
            } else {

                codeError.innerHTML = "";
            }


            let discountRegex = /^[0-9]+$/;
            if (discount === "") {

                discountError.innerHTML = "Please enter a discount percentage.";
                discountError.style.color = "red";
                isValid = false;
            } else if (!discountRegex.test(discount)) {

                discountError.innerHTML = "Please enter a valid discount percentage.";
                discountError.style.color = "red";
                isValid = false;
            } else if (discount < 0 || discount > 100) {

                discountError.innerHTML = "Please enter a discount percentage between 0 and 100.";
                discountError.style.color = "red";
                isValid = false;
            } else {

                discountError.innerHTML = "";
            }


            let minAmtRegex = /^[0-9]+$/;
            if (minAmt === "") {

                minAmtError.innerHTML = "Please enter a minimum amount.";
                minAmtError.style.color = "red";
                isValid = false;
            } else if (!minAmtRegex.test(minAmt)) {

                minAmtError.innerHTML = "Please enter a valid minimum amount.";
                minAmtError.style.color = "red";
                isValid = false;
            } else if (minAmt < 0) {

                minAmtError.innerHTML = "Please enter a minimum amount greater than or equal to 0.";
                minAmtError.style.color = "red";
                isValid = false;
            } else {

                minAmtError.innerHTML = "";
            }


            let maxDiscAmtRegex = /^[0-9]+$/;
            if (maxDiscAmt === "") {

                maxDiscAmtError.innerHTML = "Please enter a maximum discount amount.";
                maxDiscAmtError.style.color = "red";
                isValid = false;
            } else if (!maxDiscAmtRegex.test(maxDiscAmt)) {

                maxDiscAmtError.innerHTML = "Please enter a valid maximum discount amount.";
                maxDiscAmtError.style.color = "red";
                isValid = false;
            } else if (maxDiscAmt < 0) {

                maxDiscAmtError.innerHTML = "Please enter a maximum discount amount greater than or equal to 0.";
                maxDiscAmtError.style.color = "red";
                isValid = false;
            } else {

                maxDiscAmtError.innerHTML = "";
            }

            const inputValue = document.getElementById('expiryDate').value.trim()
            const isValidDate = /^\d{4}-\d{2}-\d{2}$/.test(inputValue);
            const errorElement = document.getElementById('expiryDateError');

            if (!isValidDate) {
                errorElement.style.display = 'inline';
                isValid=false;
            } else {
                errorElement.style.display = 'none';
            }
            return isValid;
        }
    </script>
    <%- include('../adminLayout/footer') %>