<%- include('../adminLayout/header') %>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add Offer</h2>
                </div>
            </div>
            <div class="col-lg-6 offset-3">
                <div class="card mb-4 ">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/addOffer">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">product/category</label>
                                <select id="mySelect" class="form-select" name="select" oninput="handleSelectChange()">
                                    <option value="category">Category</option>
                                    <option value="product">Product</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="brand_name" class="form-label">category Name /product Name</label>
                                <select name="Id" class="form-select" id="selectId">

                                </select>
                                <a href="" id="brandNameError"></a>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Discount Percentage</label>
                                        <div class="row gx-2">
                                            <input placeholder="%" type="number" class="form-control"
                                                id="discountPercent" name="discountPercent" min="0">
                                            <a href="" id="orginalPriceError"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Maximum Amount</label>
                                        <input placeholder=" &#8377;" type="number" class="form-control"
                                            id="MaximumAmount" name="maxDiscountAmount" min="0">
                                        <a href="" id="salePriceError"></a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Expiry Date</label>
                                        <input  type="date" class="form-control"
                                            id="expiryDate" name="expiryDate">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-success m-auto text-center">Add Offer</button>
                            </div>
                        </form>
                    </div>
                </div> <!-- card end// -->
            </div>
        </div> <!-- card end// -->
    </section>

    <!-- Rest of your HTML code -->
    <script>
        function handleSelectChange() {
            const selectedValue = document.getElementById("mySelect").value;
            console.log(selectedValue);
            const selectElement = document.getElementById('selectId');
            selectElement.innerHTML = '';
            fetch(`/admin/findData?option=${selectedValue}`, { method: "GET" })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        data.Data.forEach((item) => {
                            const option = document.createElement('option');
                            option.value = item._id;
                            option.textContent = item.name;
                            selectElement.appendChild(option);
                        })
                    }
                });

        }
    </script>


    <%- include('../adminLayout/footer') %>