
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RIZT</title>
    <meta name="description" content="<%= locals.description %>" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/user-assets/imgs/theme/Wlogo.jpeg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="\user-assets\css\maind134.css" />
  </head>



<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Pages
              <span></span> Login / Register
          </div>
      </div>
  </div>
  <section class="pt-150 pb-150">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 m-auto">
                  <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                          <div class="padding_eight_all bg-white">
                              <div class="heading_s1">
                                  <h3 class="mb-30">Reset Password</h3>
                              </div>
                              <form  action="/resetPassword" method="post" onsubmit="return validationPasswordChecking()">
                                <div class="form-group">
                                  <input
                                    type="password"
                                    id="password"
                                    name="password"
                              
                                    placeholder="Enter Password"
                                  />
                                  <div
                                    id="errorpassword"
                                    class="ms-2 text-danger"
                                  ></div>
                                </div>
                                <div class="form-group">
                                  <input
                                    type="password"
                                    id="cpassword"
                                   
                                    placeholder="Confirm Password"
                                  />
                                  <div
                                    id="errorcpassword"
                                    class="mt-0 ms-2 text-danger"
                                  ></div>
                                </div>
                                 
                                  <div class="form-group text-center">
                                      <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit</button>
                                  </div>
                              </form>
                           
                        
                            
                          </div>
                      </div>
                  </div>
                  </div>
                
                
              </div>
          </div>
      </div>
  </section>
</main>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"
></script>

<script>
  
      document.addEventListener('DOMContentLoaded', function () {


  const password = document.getElementById("password");
  const errorpassword = document.getElementById("errorpassword");
  const cpassword = document.getElementById("cpassword");
  const errorcpassword = document.getElementById("errorcpassword");



  password.addEventListener('input', function () {
    errorpassword.innerHTML = password.value.trim() === "" ? "Please enter password" : password.value.length < 8 ? "Please enter a minimum of 8 characters" : "";
  });
  cpassword.addEventListener('input', function () {
    errorcpassword.innerHTML = cpassword.value.trim() === "" ? "Please enter password" :  (cpassword.value !== password.value) ? "Passwords do not match" : "";
  });


});

      function validationPasswordChecking(event) {
  const password = document.getElementById("password");
  const errorpassword = document.getElementById("errorpassword");
  const cpassword = document.getElementById("cpassword");
  const errorcpassword = document.getElementById("errorcpassword");
  errorpassword.innerHTML = password.value.trim() === "" ? "Please enter password" : password.value.length < 8 ? "Please enter a minimum of 8 characters" : "";
  errorcpassword.innerHTML = cpassword.value.trim() === "" ? "Please enter password" : (cpassword.value !== password.value) ? "Passwords do not match" : "";

  if (errorpassword.innerHTML || errorcpassword.innerHTML) return false;
  
  return true;
}


</script>
</body>
</html>