<%- include('../Layout/header') %>

    <section class="pt-150 pb-150 ">
        <div class="container ">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5 text-center m-auto">
                        <div
                            class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                Your Email Has Been Verified
                                <button class="bg-success"><a href="/login" class="text-decoration-none">Go to
                                        Login</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../Layout/footer') %>