<%- include('../layout/header') %>
    <div class="card">
        <div class="card-header">
            <h5>Change Password</h5>
        </div>
        <div class="card-body col-6 m-auto">

            <form onsubmit="return validatePassword()">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>New Password <span class="required">*</span></label>
                        <input class="form-control square" name="npassword" type="password" id="npassword">
                        <a id="npasswordError" class="text-danger"></a><br>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Confirm Password <span class="required">*</span></label>
                        <input class="form-control square" name="cpassword" type="password" id="cpassword">
                        <a id="cPasswordError" class="text-danger"></a><br>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-fill-out">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function validatePassword() {
            const npassword = document.getElementById("npassword");
            const cPassword = document.getElementById("cpassword");
            const npasswordError = document.getElementById("npasswordError");
            const cPasswordError = document.getElementById("cPasswordError");
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

            if (npassword.value.trim() === '') {
                npasswordError.innerHTML = 'Field is required';
                setTimeout(() => {
                    npasswordError.innerHTML = '';
                }, 5000);
                return false;
            }
            if (!passwordRegex.test(npassword.value)) {
                npasswordError.innerHTML = "Enter a alphanumeric Password with minimum 8 letters";
                setTimeout(() => {
                    npasswordError.innerHTML = '';
                }, 5000);
                return false;
            }
            if (cPassword.value.trim() === '') {
                cPasswordError.innerHTML = 'Field is required';
                setTimeout(() => {
                    cPasswordError.innerHTML = '';
                }, 5000);
                return false;
            }
            if (cPassword.value !== npasswordData.value) {
                cPasswordError.innerHTML = "Passwords do not match";
                setTimeout(() => {
                    cPasswordError.innerHTML = '';
                }, 5000);
                return false;
            }
            return true;

        }
    </script>
    <%- include('../layout/footer') %>