<%- include('../layout/header') %>
<main class="main single-page" >
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> About us
            </div>
        </div>
    </div>
    <section class="section-padding" id="orderSuccess">
        <div class="container pt-25 text-center">
            <div class="row">
                <div class="col-lg-12 align-self-center mb-lg-0 mb-4">
                    <h6 class="text-uppercase font-sm text-brand wow fadeIn animated">Order SuccessFully completed</h6>
                    <h1 class="font-heading mb-40">
                       Your Order SuccessFully completed , Go And Check Your Orders
                    </h1>
                    <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum sapien metus.</p>
                    <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum sapien metus. Sit mi, pharetra, morbi arcu id. Pellentesque dapibus nibh augue senectus. </p>
                </div>
            </div>
            <div>
                <a href="/orderDetials" class="text-decoration-none btn">Order Details</a>
            </div>
            <div>
                <a href="/" class="text-decoration-none btn mt-10">Home</a>
            </div>
        </div>
    </section>
  
</main>
