<%- include('../layout/header') %>
<main class="main single-page" >
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> About us
            </div>
        </div>
    </div>
    <div class="card col-lg-12 text-center ptb-100 " >
        <div class="card-body">
          <h5 class="card-title text-success fw-900 fw-bolder fs-6">Order Completed successfully</h5>
          <h6 class="card-subtitle mb-2 text-muted">order has been completed</h6>
          <p class="card-text">order will be delivered within 7 working days.<br>
        you have 7 days of return and refund available.<br>if any Damages occoured during delivery will be replaced</p>
          <a href="/orderDetials" class="card-link">See Orders</a>
          <a href="/" class="card-link">Home</a>
        </div>
      </div>
  
</main>
